<!--
    Title: footer.ejs
    Author: Angela Martin
    Date: 04/28/2021
    Description: Assignment 6.4 footer.ejs file.
-->

<footer>
    <div class="footer">

        <!-- Footer heading. -->
        <h3>© Angela Martin 2021</h3>
    </div>
</footer>