<!--
    Title: header.ejs
    Author: Angela Martin
    Date: 04/28/2021
    Description: Assignment 6.4 header.ejs file.
-->

<!DOCTYPE html>

<html lang="en">

        <head>

            <!-- Header information. -->
            <meta charset="UTF-8"/>

            <meta viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

            <title><%= title %></title>

            <!-- Links to Google Fonts. -->
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap" rel="stylesheet">
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
            
            <!-- Link to Bootstrap CDN. -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"

                integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>

            <!-- Link to custom stylesheet. -->
            <link rel="stylesheet" href="../css/style.css" type="text/css">

            

        </head>

        <body>
            <div class="header">

                    <!-- Header image. -->
                    <img alt="Header" id="winerack" src="../images/ems-header2.jpg">

                    <!-- Heading. -->
                    <div class="centered">Cork & Bottle</div>                    
                
            </div>

            <!-- Link to Bootstrap Javascript CDN. -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

        </body>
</html>