<!--
    Title: navbar.ejs
    Author: Angela Martin
    Date: 04/28/2021
    Description: Assignment 6.4 navbar.ejs file.
-->

<!-- Create navbar. -->
<nav class="navbar navbar-expand-md">

    <ul class="navbar-nav">

        <li class="nav-item active">

            <a class="nav-link" href="/">Home</a>

        </li>

        <li class="nav-item">

            <a class="nav-link" href="/list">Employee Records</a>

        </li>

        <li class="nav-item">

            <a class="nav-link" href="/new">New Employee</a>

        </li>

    </ul>

</nav>