<!DOCTYPE html>

<html lang="en">

<!-- Include header module. -->
<%- include('header'); -%>

<body>

    <!-- Include navbar module. -->
    <%- include('navbar'); -%>
        <div role="main" class="container">
            <br/><br/>

            <!-- Include message module. -->
            <h2><%= message %></h2>
            <br>
            <br>
            <form method="post" action="/process">
                <div class="form-group">

                    <!-- Label and input text field for first name. -->
                    <label for="firstName">First Name:</label>
                    <input name="firstName" type="text" id="firstName" name="firstName">
                </div>
                <div class="form-group">

                    <!-- Label and input text field for last name. -->
                    <label for="lasttName">Last Name:</label>
                    <input name="lastName" type="text" id="lastName" name="lastName">
                </div>
                <div class="form-group">                
                    <!-- Button -->
                    <input name="_csrf" value="<%= csrfToken %>" type="hidden">
                    <button class="btn btn-dark float-right" type="submit">Submit</button>
                </div>
            </form>
        </div>
</body>
</html>