<!--
    Title: header.ejs
    Author: Angela Martin
    Date: 04/04/2021
    Description: Assignment 3.4 header.ejs file.
-->

<!DOCTYPE html>

<html lang="en">

  <!-- Document header information. -->
  <head>
    <meta charset="UTF-8" />

    <title>Putting it all together...</title>

    <!-- Link to Bootstrap CDN stylesheet -->
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
      crossorigin="anonymous"
    />
  </head>
  <body>

    <!-- Create navbar -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

      <!-- Unordered list -->
      <ul class="navbar-nav">
        <!-- List items - links -->
        <li class="nav-item active">
          <a class="nav-link" href="/index">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/products">Products</a>
        </li>
      </ul>
    </nav>
  </body>
</html>
