<!--
    Title: products.ejs
    Author: Angela Martin
    Date: 04/04/2021
    Description: Assignment 3.4 products.ejs file.
-->

<!-- Include header module. -->
<%- include('header'); -%>

<div class="container" role="main">

    <br/><br/>

    <h2>Welcome to the <%= message %>!</h2>

</div>

<!-- Include footer module. -->
<%- include('footer'); -%>